.center {
  text-align: center;
  }
body {
  background: no-repeat linear-gradient(rgb(186, 253, 255),rgb(255, 255, 169),rgba(253, 210, 217, 0.788), rgb(200, 200, 255));
  height: 100vh;
  width: 100vw;
  /* padding-top: 50px; */
  /* margin-bottom: 100px; */
}
#headers {
  width: 575px;
}
#app {
  background: repeat rgba(255, 255, 255, 0.6);
  width: 575px;
  margin-bottom: 100px;
  margin-top: 50px;
}
#main {
  padding-bottom: 50px;
  width: 575px;
}
h1 {
  width: 100%;
  color: #000000;
  text-shadow: 2px 2px #8f8f8f4f;
  margin-top: 10px 0;
  padding-top: 50px;
}
h3 {
  color: #5c5c5cb7;
  padding-top: 10px;
}
h4 {
  color: #868686;
  padding: 20px 0 0 0;
  font-size: 2.5vw;
}
#alert {
  position: relative;
  bottom: 40px;
}
.alert {
  color: red;
  font-size: 40px;
  text-align: center;
  margin: 100px 100px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background-color: white;
}
img {
  display: inline-block;
}
#fullstack {
  width: 26vw;
  height: 8vw;
}
#grace {
  height: 5.5vw;
  width: 26vw;
  margin-top: 2%;
}
#footer {
  width: 100%;
  height: 10vh;
  border-top: solid 2px rgb(202, 202, 202);
  background-color: white;
  position: fixed;
  bottom: 0;
  margin: 0;
}
#parent-input {
  width: 160px;
  margin: 15px auto;
  padding-bottom: 0px;
}
#player-input {
  width: 160px;
  height: 160px;
  font-size: 60px;
  border-radius: 50%;
  text-align: center;
}
#submit {
  width: 60px;
  height: 60px;
  margin: 0px auto;
  border-radius: 50%;
  background-color: #bbe20d;
  color: white;
  border: none;
  margin-left: 10px;
  font-size: 15px;
  text-align: center;
  position: relative;
  bottom: 60px;
  left: 60px;
}
.guess {
  display: inline;
  border: #b4b4b460 1px solid;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 5px;
  font-size: 2em;
  box-shadow: 3px 5px #3030302d;
}

#answer {
  display: none;
}

@media (max-width: 575px) {
  #main, #app, body, #headers {
    width: 100%;
    height: 100%;
  }
  #app {
    padding-top: 0;
    padding-bottom: 170px;
    margin-bottom: 0px;
  }
  body {
    padding-top: 0;
  }
  #fullstack {
    width: 40%;
    height: 100%;
  }
  #grace {
    width: 40%;
    height: 80%;
    margin-top: 2%;
  }
  #footer {
    width: 100%;
    height: 30vw;
    border-top: solid 2px rgb(202, 202, 202);
    background-color: white;
    position: fixed;
    bottom: 0;
  }
  h4 {
    padding: 0 0 0 0;
    font-size: 2.5vw;
  }
  h3 {
    color: #5c5c5cb7;
    font-size: 23px;
  }
  h1 {
    font-size: 32px;
  }
}

@media (min-width: 900px) {
  #footer {
    width: 100%;
    height: 82px;
  }
  #fullstack {
    width: 234px;
    height: 72px;
  }
  #grace {
    width: 234px;
    height: 49px;
    margin-top: 2%;
  }
  h4 {
    font-size: 23px;
  }
}